@font-face{
    font-family: 'Comfortaa';
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
    font-family: 'Roboto';
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
    font-family: 'Titillium Web';
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

/* css variables */

:root{
    --background-dark-blue: #1B203D;
    --light-blue: #666B8A;
    --blue: #3D488A;
}

/* css to remove white border */

body {
    margin: 0px;
}

/* css for header */

header{
    height: 310px;
    display: block;
    background-color: var(--background-dark-blue);
    margin: 0px;
}

/* css for search bar */

form{
    display: inline-flex;
    position: relative;
    left: 18%;
    top: 35%;
    width: 90%;
    height: 50px;
    margin: 0%;
}

.search-bar{
    top: 5%;
    left: -4%;
    position: relative;
    display: flex;
    width: 85%;
}

.search-bar input[type=text] {
    width: 80%;
    height: 60px;
    padding: 0px;
    font-family: Comfortaa, Arial, sans-serif; 
    font-size: 30px;
    padding-left: 5px;
}

.search-bar button{
    margin: 0px;
    width: 20%;
    height: 65px;
    background: var(--blue);
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: #ffffff;
}

.search-bar button:hover {
    background: var(--light-blue);
}

/* css for website logo */

.logo{
    position: relative;
    top: 0%;
    left: 20%;
    border: solid;
    border-color: var(--background-dark-blue);
    border-width: 3px;  
    width: 60%;
    height: 65%;
    border:  0px;
    background-color: #ffffff;
    margin: 0%;
}

/* css for dropdown menu */

.dropbtn {
    background-color: var(--blue);
    color: #ffffff;
    padding: 16px;
    font-size: xx-large;
    border: none;
    right: 0px;
    width: 212%;
    height: 77%;
}

.dropdown {
    position: absolute;
    display: inline-block;
    top: 0%;
    left: 0%;
    text-align: center;
    width: 9.5%;
    height: 90px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--blue);
    min-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    text-align: center;
    font-size: xx-large;
}

.dropdown-content a{
    color: #ffffff;
    padding: 20% 1.5em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--light-blue);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--light-blue);
}

/* css for body of page */

main {
    display: block;
    margin: 0px;
    height: 2333px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(27,32,61,1) 73%, rgba(101,104,108,1) 100%);
}

/* css for new section header */

.new-releases {
    width: 50%;
    color: #ffffff;
    padding: 10px;
    border: 2px solid var(--background-dark-blue);
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(102,107,138,1) 80%, rgba(29,57,83,1) 100%);
    text-align: center;
    position: relative;
    top: 3%;
    left: 22.5%;
    display: block;
    font-size: x-large;
    font-family: Roboto, Arial, sans-serif;
    margin: 0%;
}

/* css for flexbox in new releases section */

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3%;
    left: 11.5%;
    width: 70%;
}


/* css for Popular now section header */

.popularnow {
    width: 50%;
    color: #ffffff;
    padding: 10px;
    border: 2px solid var(--background-dark-blue);
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(102,107,138,1) 80%, rgba(29,57,83,1) 100%);
    text-align: center;
    position: relative;
    top: 3%;
    left: 22.5%;
    display: block;
    font-size: x-large;
    font-family: Roboto, Arial, sans-serif;
    margin: 0%;
}

/* css for flexbox in popular now section */

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3%;
    left: 11.5%;
    width: 70%;
}

/* css for game covers */

.gamecover {
    flex: 1;
    padding: 20px;
    position: relative;
    top: 2%;
    left: 5%;
    margin: 5%;
    background-color: var(--blue);
    text-align: center;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 80%;
}

/* Css for Game Cover images */
.gameart {
    width: 75%;
}



/* css for footer image */

.footerimage{
    padding: 0%;
    float: right;
    width: 377px;
    height: 251;
}

/* css for footer */

footer{
    display: block;
    margin: 0px;
    height: 251px;
    background-color: var(--background-dark-blue);
    padding: 0%;
}


@media only screen and (min-width: 600px){

/* css for header when page is > 600 px wide*/

header{
    height: 205px;
    display: block;
    background-color: var(--background-dark-blue);
    margin: 0px;
}

/* css for search bar when page is > 600 px wide */

form{
    display: inline-flex;
    position: relative;
    left: 10%;
    top: 35%;
    width: 45%;
    height: 50px;
}

.search-bar{
    margin-left: 5%;
    margin-top: 0px;
    display: contents;
}

.search-bar input[type=text] {
    width: 80%;
    height: 60px;
    padding: 0px;
    font-family: Comfortaa, Arial, sans-serif; 
    font-size: 30px;
    padding-left: 5px;
}

.search-bar button{
    margin-left: 0px;
    margin-top: 0px;
    width: 15%;
    height: 65px;
    background: var(--blue);
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: #ffffff;
}

/* css for website logo when page is > 600px wide*/

.logo{
    float: left;
    position: relative;
    left: 0%;
    border: solid;
    border-color: var(--background-dark-blue);
    border-width: 3px;
    width: 25%;
    height: 205px;
    border:  0px;
    background-color: #ffffff;
    margin: 0%;
}

/* css for dropdown menu when page is > 600px wide */

.dropbtn {
    background-color: var(--blue);
    color: #ffffff;
    padding: 16px;
    font-size: xx-large;
    border: none;
    right: 0;
    width: 100%;
    height: 80px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--blue);
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    text-align: center;
    font-size: xx-large;
}

.dropdown-content a{
    color: #ffffff;
    padding: 20% 1.5em;
    text-decoration: none;
    display: block;
}


/* css for new section header when page is > 600px */

.new-releases {
    width: 25%;
    color: #ffffff;
    padding: 10px;
    border: 2px solid var(--background-dark-blue);
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(102,107,138,1) 80%, rgba(29,57,83,1) 100%);
    text-align: center;
    position: relative;
    top: 2%;
    left: 38%;
    font-size: x-large;
    font-family: Roboto, Arial, sans-serif;
}

/* css for flex box containing game content */

.container{
        flex-direction: row;
        left: 0%;
        width: 90%;
        flex-wrap: wrap;
}

.gameart {
    width: 100%;
}


}

