@font-face{
    font-family: 'Comfortaa';
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
    font-family: 'Roboto';
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
    font-family: Titillium Web;
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

:root{
    --background-dark-blue: #1B203D;
    --light-blue: #666B8A;
    --blue: #3D488A;
}

header{
    height: 205px;
    display: block;
    background-color: var(--background-dark-blue);
    margin: 0px;
}

form{
    display: inline-flex;
    margin-left: 245px;
    margin-top: 75px;
    width: 585px;
    height: 50px;
}

.search-bar{
    margin-left: 449px;
    margin-top: 0px;
}

.search-bar input[type=text] {
    width: 500px;
    height: 60px;
    padding: 0px;
    font-family: Comfortaa, Arial, sans-serif; 
    font-size: 30px;
    padding-left: 5px;
}

.search-bar button{
    margin-left: 0px;
    margin-top: 0px;
    width: 80px;
    height: 65px;
    background: var(--blue);
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background: var(--light-blue);
}


.logo{
    float: left;
    border: solid;
    border-color: var(--background-dark-blue);
    border-width: 3px;
    width: 385px;
    height: 205px;
    border:  0px;
    background-color: #ffffff;
    margin: 0%;
}


main {
    display: block;
    margin: 0px;
    height: 2333px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(27,32,61,1) 73%, rgba(101,104,108,1) 100%);
}

h1{
    color: #ffffff;
    margin-top: 0%;
}

body{
    margin: 0px;
}

p{
    color: #ffffff;
}

.footerimage{
    padding: 0%;
    float: right;
    width: 377px;
    height: 251;
}

footer{
    display: block;
    margin: 0px;
    height: 251px;
    background-color: var(--background-dark-blue);
    padding: 0%;
}