@font-face{
    font-family: 'Comfortaa';
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
    font-family: 'Roboto';
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
    font-family: 'Titillium Web';
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

/* css variables */

:root{
    --background-dark-blue: #1B203D;
    --light-blue: #666B8A;
    --blue: #3D488A;
}

html{
    overflow-x: hidden;
}

/* css to remove white border */

body {
    margin: 0px;
}

/* --------------------------------------------------------------------------- CSS FOR HOME PAGE-------------------------------------------------------------------------------- */

/* ------------------------------------------------------ header -------------------------------------------- */

header{
    height: 310px;
    display: block;
    background-color: var(--background-dark-blue);
    margin: 0px;
}

/* css for search bar */

.formA{
    display: inline-flex;
    position: relative;
    left: 18%;
    top: 35%;
    width: 90%;
    height: 50px;
    margin: 0%;
}

.search-bar{
    top: 5%;
    left: -4%;
    position: relative;
    display: flex;
    width: 85%;
}

.search-bar input[type=text] {
    width: 80%;
    height: 60px;
    padding: 0px;
    font-family: Comfortaa, Arial, sans-serif; 
    font-size: 30px;
    padding-left: 5px;
}

.search-bar button{
    margin: 0px;
    width: 20%;
    height: 65px;
    background: var(--blue);
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: #ffffff;
}

.search-bar button:hover {
    background: var(--light-blue);
}

/* css for website logo */

.logohome{
    position: relative;
    top: 0%;
    left: 20%;
    border: solid;
    border-color: var(--background-dark-blue);
    border-width: 3px;  
    width: 60%;
    height: 65%;
    border:  0px;
    background-color: #ffffff;
    margin: 0%;
}

/* css for dropdown menu */

.dropbtn {
    background-color: var(--blue);
    color: #ffffff;
    padding: 16px;
    font-size: xx-large;
    border: none;
    right: 0px;
    width: 212%;
    height: 77%;
}

.dropdown {
    position: absolute;
    display: inline-block;
    top: 0%;
    left: 0%;
    text-align: center;
    width: 9.5%;
    height: 90px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--blue);
    min-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    text-align: center;
    font-size: xx-large;
}

.dropdown-content a{
    color: #ffffff;
    padding: 20% 1.5em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--light-blue);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--light-blue);
}

/* ------------------------------------------------------ Body -------------------------------------------- */

main {
    display: block;
    margin: 0px;
    height: fit-content;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(27,32,61,1) 73%, rgba(101,104,108,1) 100%);
}

/* css for section headers */

.secheader {
    width: 50%;
    color: #ffffff;
    padding: 10px;
    border: 2px solid var(--background-dark-blue);
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(102,107,138,1) 80%, rgba(29,57,83,1) 100%);
    text-align: center;
    position: relative;
    top: 1%;
    left: 23%;
    display: block;
    font-size: xx-large;
    font-family: Comfortaa, Arial, sans-serif;
    margin: 0%;
}

/* css for flexbox in new releases section */

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1%;
    left: 11.5%;
    width: 70%;
}

/* css for game covers */

.gamecover {
    flex: 1;
    padding: 20px;
    position: relative;
    top: 2%;
    left: 5%;
    margin: 5%;
    background-color: var(--blue);
    text-align: center;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 75%;
}

.descText {
    background-color: var(--background-dark-blue);
}

/* Css for Game Cover images */
.gameart {
    width: 75%;
}

/* ------------------------------------------------------ Footer -------------------------------------------- */

.footercontainer{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25%;
    left: 29%;
    width: 35%;
}

.footerbutton{
    width: 100%;
    color: #ffffff;
    padding: 10px;
    border: 2px solid var(--background-dark-blue);
    background-color: var(--blue);
    text-align: center;
    font-size: x-large;
    font-family: Roboto, Arial, sans-serif;
}

.footerbutton:hover {
    background-color: var(--light-blue);
}

/* css for footer image */

.footerimage{
    display: none;
}

/* css for footer */

footer{
    display: block;
    margin: 0px;
    height: 251px;
    background-color: var(--background-dark-blue);
    padding: 0%;
}


/* ---------------------------------------------------------------------------- CSS FOR SEARCH PAGE ------------------------------------------------------- */ 

/* css for website logo */

.searchHeader {
    height: fit-content;
}

.logosearch{
    position: relative;
    top: 0%;
    left: 20%;
    border: solid;
    border-color: var(--background-dark-blue);
    border-width: 3px;  
    width: 60%;
    height: 65%;
    border:  0px;
    background-color: #ffffff;
    margin: 0%;
}


.search-barb{
    top: 5%;
    left: -4%;
    position: relative;
    display: flex;
    width: 85%;
}

.formB{
    display: inline-flex;
    position: relative;
    left: 18%;
    top: 35%;
    width: 90%;
    height: 50px;
    margin: 0%;
}


.search-barb input[type=text] {
    width: 80%;
    height: 60px;
    padding: 0px;
    font-family: Comfortaa, Arial, sans-serif; 
    font-size: 30px;
    padding-left: 5px;
}

.search-barb button{
    margin: 0px;
    width: 20%;
    height: 65px;
    background: var(--blue);
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: #ffffff;
}

.search-barb button:hover {
    background: var(--light-blue);
}

.coverGrid{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    left: 10%;
    margin-top: 9%;
}

/* ------------------------------------------------------------------------------ CSS for My Games Page ----------------------------------------------------------------------- */

.removeButton{
    background-color: red;
    padding: 10px;
}

.removeButton:hover {
    background-color: var(--light-blue);
}

.removeButton:visited {
    background-color: var(--light-blue);
}


.addButton {
    flex: 1;
    padding: 20px;
    position: relative;
    top: 2%;
    left: 5%;
    margin: 5%;
    background-color: green;
    text-align: center;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: xx-large;
}

.addButton:hover {
    background-color: var(--light-blue);
}

.addButton:visited{
    background-color: var(--light-blue);
}


/* ---------------------------------------------------------------------------- CSS FOR Game PAGE ------------------------------------------------------- */ 

.gameContent {
    background-color: var(--blue);
    width: 75%;
    margin-top: 6%;
    position: relative;
    left: 7%;
    font-family: Titillium Web, Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: #ffffff;
    padding: 5%;
    text-align: center;
}

.coverContent {
    width: 90%;
}

.contentText {
    background-color: var(--background-dark-blue);
    display: block;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 2%;
    font-size: xx-large;
}



/* ---------------------------------------------------------------------------- CSS FOR Create Account PAGE ------------------------------------------------------- */ 
.containerb {
    display: flex;
    flex-direction: column;
    width: 75%;
    position: relative;
    left: 5%;
    color: #ffffff;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    font-size: large;
}

.signinBox {
    background-color: var(--blue);
    width: 75%;
    position: relative;
    left: 22%;
}

.createaccountBox {
    background-color: var(--blue);
    margin-top: 5%;
    width: 75%;
    position: relative;
    left: 22%;

}

.containerC {
    padding: 5%;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
}

.submit {
    background-color: var(--background-dark-blue);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 10%;
    color: #ffffff;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.submit:hover {
    opacity: 0.8;
}

.containerD {
    padding: 4%;
}

@media only screen and (min-width: 600px){


 /* ------------------------------------------------------ header -------------------------------------------- */

/* css for header when page is > 600 px wide*/

header{
    height: 205px;
    display: block;
    background-color: var(--background-dark-blue);
    margin: 0px;
}

/* css for search bar when page is > 600 px wide */

.formA{
    display: inline-flex;
    position: relative;
    left: 10%;
    top: 35%;
    width: 45%;
    height: 50px;
}

.search-bar{
    margin-left: 5%;
    margin-top: 0px;
    display: contents;
}

.search-bar input[type=text] {
    width: 80%;
    height: 60px;
    padding: 0px;
    font-family: Comfortaa, Arial, sans-serif; 
    font-size: 30px;
    padding-left: 5px;
}

.search-bar button{
    margin-left: 0px;
    margin-top: 0px;
    width: 15%;
    height: 65px;
    background: var(--blue);
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: #ffffff;
}

/* css for website logo when page is > 600px wide*/

.logohome{
    float: left;
    position: relative;
    left: 0%;
    border: solid;
    border-color: var(--background-dark-blue);
    border-width: 3px;
    width: 25%;
    height: 205px;
    border:  0px;
    background-color: #ffffff;
    margin: 0%;
}

/* css for dropdown menu when page is > 600px wide */

.dropbtn {
    background-color: var(--blue);
    color: #ffffff;
    padding: 16px;
    font-size: xx-large;
    border: none;
    right: 0;
    width: 100%;
    height: 80px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--blue);
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    text-align: center;
    font-size: xx-large;
}

.dropdown-content a{
    color: #ffffff;
    padding: 20%;
    text-decoration: none;
    display: block;
}

/* ------------------------------------------------------ Body -------------------------------------------- */


/* css for new releases section header when page is > 600px */

.secheader {
    width: 25%;
    color: #ffffff;
    padding: 10px;
    border: 2px solid var(--background-dark-blue);
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(102,107,138,1) 80%, rgba(29,57,83,1) 100%);
    text-align: center;
    position: relative;
    top: 2%;
    left: 37%;
    font-size: xx-large;
    font-family: Comfortaa, Arial, sans-serif;
}

/* css for flex box in new releases section containing game content */

.container{
        flex-direction: row;
        left: 0%;
        width: 90%;
        flex-wrap: wrap;
}

.gameart {
    width: 100%;
}


/* ------------------------------------------------------ Footer -------------------------------------------- */


.footercontainer{
    top: 18%;
    left: 17%;
    float: left;
}

.footerbutton {
    width: 100%;

}

/* css for footer image */

.footerimage{
    padding: 0%;
    float: right;
    width: 30%;
    height: 100%;
    display: inline-flex;
}


/* ---------------------------------------------------------------------------- CSS FOR SEARCH PAGE ------------------------------------------------------- */ 


.logosearch {
    width: 30%;
    left: 25%;
}

.search-barb{
    left: 16%;
    margin-top: 0px;
    display: block;

}

.search-barb input[type=text] {
    width: 100%;
}

.search-barb button{
    width: 17%;
}

.formB{
    left: 10%;
    width: 60%;
}

.coverGrid{
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    left: 10%;
    margin-top: 1%;
}

/* ---------------------------------------------------------------------------- CSS FOR Game Page ------------------------------------------------------- */

.gameContent {
    margin-top: 3%;
}



}

