@font-face{
    font-family: 'Comfortaa';
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
    font-family: 'Roboto';
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
    font-family: Titillium Web;
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

:root{
    --background-dark-blue: #1B203D;
    --light-blue: #666B8A;
    --blue: #3D488A;
}

header{
    height: 205px;
    display:block;
    background-color: var(--background-dark-blue);
    margin: 0px;
}

.search-bar{
    float: none;
    width: 969px;
    height: 85px;
    margin-top: 60px;
}

.search-bar input[type=text] {
    padding: 6px;
    margin-top: 10px;
    font-family: Comfortaa, Arial, sans-serif; 
    font-size: 30px;
    border: right;
}

.search-bar button{
    float:none;
    width: 112px;
    height: 85px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: var(--blue);
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background: var(--light-blue);
}

.logo{
    float: left;
    width: 423px;
    height: 205px;
    border: 3px solid var(--background-dark-blue);
    background-color: #ffffff;
}


main {
    display: block;
    margin: 0px;
    height: 2333px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(27,32,61,1) 73%, rgba(101,104,108,1) 100%);
}

h1{
    color: #ffffff;
}

p{
    color: #ffffff;
}

.footerimage{
    padding: 0%;
    float: right;
    width: 377px;
    height: 251;
}

footer{
    display: block;
    margin: 0px;
    height: 251px;
    background-color: var(--background-dark-blue);
    padding: 0%;
}