@font-face{
    font-family: 'Comfortaa';
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
    font-family: 'Roboto';
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
    font-family: Titillium Web;
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

/* css variables */

:root{
    --background-dark-blue: #1B203D;
    --light-blue: #666B8A;
    --blue: #3D488A;
}

/* css for header */

header{
    height: 205px;
    display: block;
    background-color: var(--background-dark-blue);
    margin: 0px;
}

/* css for search bar */

form{
    display: inline-flex;
    margin-left: 180px;
    margin-top: 75px;
    width: 585px;
    height: 50px;
}

.search-bar{
    margin-left: 449px;
    margin-top: 0px;
    display: contents;
}

.search-bar input[type=text] {
    width: 500px;
    height: 60px;
    padding: 0px;
    font-family: Comfortaa, Arial, sans-serif; 
    font-size: 30px;
    padding-left: 5px;
}

.search-bar button{
    margin-left: 0px;
    margin-top: 0px;
    width: 80px;
    height: 65px;
    background: var(--blue);
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: #ffffff;
}

.search-bar button:hover {
    background: var(--light-blue);
}

/* css for website logo */

.logo{
    float: left;
    border: solid;
    border-color: var(--background-dark-blue);
    border-width: 3px;
    width: 385px;
    height: 205px;
    border:  0px;
    background-color: #ffffff;
    margin: 0%;
}

/* css for dropdown menu */

.dropbtn {
    background-color: var(--blue);
    color: #ffffff;
    padding: 16px;
    font-size: xx-large;
    border: none;
    right: 0;
    width: 105px;
    height: 80px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--blue);
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    text-align: center;
    font-size: xx-large;
}

.dropdown-content a{
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--light-blue);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--light-blue);
}

/* css for body of page */

main {
    display: block;
    margin: 0px;
    height: 2333px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(27,32,61,1) 73%, rgba(101,104,108,1) 100%);
}

h1{
    color: #ffffff;
    margin-top: 0%;
}

body{
    margin: 0px;
}

p{
    color: #ffffff;
}

/* css for footer image */

.footerimage{
    padding: 0%;
    float: right;
    width: 377px;
    height: 251;
}

/* css for footer */

footer{
    display: block;
    margin: 0px;
    height: 251px;
    background-color: var(--background-dark-blue);
    padding: 0%;
}